body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(ellipse at bottom, #0D1E31,#111);
    overflow: hidden;

}


#timer
{
    background-color: #0D1E31;
    box-shadow:5px 8px 5px #254a75;
    border: 1px solid white;
    color: white;
}

