body {
    margin: 0;
    padding-top: 40px;
    color: #2e323c;
    background: #4c5061;
    position: relative;
    height: 100%;
}
.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}
.account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
}
.account-settings .user-profile .user-avatar img {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
}
.account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #9fa8b9;
}
.account-settings .about {
    margin: 2rem 0 0 0;
    text-align: center;
}
.account-settings .about h5 {
    margin: 0 0 15px 0;
    color: #007ae1;
}
.account-settings .about p {
    font-size: 0.825rem;
}
.form-control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #ffffff;
    color: #2e323c;
}

.card {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}


.card-body
{
    border: 2px solid white;
    background-color: rgb(43, 3, 72);
    color: white;
    border-radius: 2%;
}
.card-body:hover

{
    color: white;
    background-color: black;
    transition: 0.5s;
    border: 1px solid yellowgreen;
    box-shadow: 10px 10px 10px grey;
}

#pen
{
    
        
    background-color: transparent;
    border: none;
   
        
       
}

.modal-btn1
{
    height: 50px;
    width: 50px;
    margin: 10px;

}
.btn
{
    color: white;
}

.btn:hover{
  background-color: rgb(72, 3, 52);
  color: rgb(243, 247, 13);
  border: 2px solid rgb(6, 216, 244);
  box-shadow: 10px 10px 10px grey;
}

.modal-body
{
    color: white;
    background-color: rgb(2, 15, 15);
    border: 1px solid white;
    
}

.modal-body:hover ,.modal-footer:hover
{
    background-color: #2e323c;
}

.modal-footer
{
    background-color: rgb(1, 19, 19);
    border: 1px solid white;
}

.container
{
    margin-top: 10%;
}

.dropdown-menu
{
     
    background: black;
    opacity: 0.8;
  
}

.dropdown-menu a{
    color: white;
}

.dropdown-menu a:hover{
    color: rgb(86, 3, 68);
}

/* #imgupload
{

    margin-top: 10%;
    margin-left: 10%;
    background-color: #4f5566;
    width: 80%;
    border: 3px solid rgb(19, 241, 19);
    border-radius: 15%;
   

} */

#data
{
    height: 100%;
    width: 100%;
    background-color: #2e323c;
    border: 1px solid white;
 
}

#data:hover
{
    background-color: #1b0202;
    color: white;
    box-shadow: 10px 10px 10px  grey;
}

.label1{
    display: inline-block;
    background-color: indigo;
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
   
  }

