<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="../src/style/welcome.css">
    <link rel="stylesheet" href="../src/style/login.css">


    <title>Personal Diary :: Welcome</title>
</head>

<body>


    <div>
        <div class="starts-01"></div>
        <div class="starts-02"></div>
        <div class="starts-03"></div>
        <div class="starts-04"></div>

    </div>


    <div class="text">

        <span>PE</span>
        <span>RS</span>
        <span>ON</span>
        <span>AL</span>
        <span>-DI</span>
        <span>ARY</span>

    </div>




    <!-- Button trigger modal -->
    <abbr title="Authentication">
        <button type="button" class="btn float" data-toggle="modal" data-target="#exampleModal" >
            <a  class="float">
                <i class="fa fa-plus my-float"></i>
            </a>
        </button></abbr>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="border: 2px solid white;">
            <div class="modal-content" style="background-color: #23242a;;">
                <!-- <div class="modal-header">

                    <h5 class="modal-title text-light" id="exampleModalLabel">Personal Diary:: Events</h5>
                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div> -->
                <div class="modal-body"></div>

                </div>

              
            </div>
        </div>
    </div>








        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"></script>
       
        <script src="../src/script/welcome.js"></script>

</body>

</html>